{% extends 'base_content.html' %}
{% block content %}
    <div class="admin_info">
        {% include 'partials/user_profile.html' %}
    </div>

    <div class="fulfil_requests_area">
        <h2>Fulfil Requests:</h2>
        {% include 'partials/fulfil_lesson.html' with lessons=curr_requests %}
    </div>

    <div class="invoicing_area">
        <h2>Manage Lessons:</h2>
        {% include 'partials/manage_lessons.html' with lessons=fulfilled_lessons %}
    </div>

    <div class="record_transfer_area">
        <h2>Record Transfer:</h2>
        {% include 'partials/invoice_as_table.html' with invoices=invoices %}
        <a class="btn btn-primary" href="{% url 'record_transfer' %}">Record Transfer</a>
    </div>
{% endblock %}