{% extends 'base_content.html' %}
{% block content %}
    <div class="all_info">
        {% include 'partials/user_profile.html' %}
    </div>

    <div class="fulfil_requests_area">
        <h2>Fulfil Requests:</h2>
        {% csrf_token %}
        {% for i in curr_requests %}
        <table>
            <tr>
                <th>Student</th>
                <th>Duration</th>
                <th>Teacher</th>
                <th colspan="2">Action</th>
            </tr>
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.lesson_duration }}</td>
                <td>{{ i.teacher }}</td>
                <th><button id="accept-button">Accept</button></th>
                <th><button id="reject-button">Reject</button></th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="invoicing_area">
        <h2>Generate or Update Invoice:</h2>
        <!-- implement invoicing after fixes.-->
    </div>

    <div class="record_transfer_area">
        <h2>Record Transfer:</h2>
        <form action="" id="record-transfer">
            Amount Paid: <input type="text" name="Amount Paid" id="amount_paid">
            Invoice Numbers: <select name="" id="invoice_numbers">
                {% csrf_token %}
                {% for i in curr_records %}
                    <option value="{{ i.invoice_id }}">{{ i.invoice_id }}</option>
                {% endfor %}
            </select>

            <button type="submit">Submit Record</button>
        </form>
    </div>
{% endblock %}