{% extends 'base_content.html' %}
{% block content %}
    <div class="admin_info">
        {% include 'partials/user_profile.html' %}
    </div>

    <div class="fulfil_requests_area">
        <h2>Fulfil Requests:</h2>
        {% include 'partials/fulfil_lesson.html' with lessons=curr_requests %}
    </div>

    <div class="invoicing_area">
        <h2>Manage Lessons:</h2>
        {% include 'partials/manage_lessons.html' with lessons=fulfilled_lessons %}
    </div>

    <div class="record_transfer_area">
        <h2>Record Transfer:</h2>
        <form action="" id="record-transfer">
            Amount Paid: <input type="text" name="Amount Paid" id="amount_paid">
            Invoice Numbers: <select name="" id="invoice_numbers">
                {% csrf_token %}
                {% for i in curr_records %}
                    <option value="{{ i.invoice_id }}">{{ i.invoice_id }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit Record</button>
        </form>
    </div>
{% endblock %}