{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Student Sign up</h1>
      <form action="{% url 'student_sign_up' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Sign up" class="btn btn-primary">
      </form>
      <br>
      <a class="btn btn-primary" href="{% url 'log_in' %}">Log in</a>
    </div>
  </div>
</div>
{% endblock %}